{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1" charset=utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='github-markdown.css')}}" type="text/css">
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }
    </style>
    <article class="markdown-body ">
        <h1>mim-system 简介</h1>
        <h3>(Medical information management system) 医疗信息管理系统</h3>
        <p>本系统为本学期数据库课程设计作业，主要模拟系统后台对数据进行管理的操作。数据库使用的是 sqlite，网站总体使用的是 <a href="http://flask.pocoo.org/">Flask</a> + <a href="http://getbootstrap.com/">Bootstrap</a>，并部署在 <a href="https://www.heroku.com">Heroku</a> 上。</p>
        <h4>系统关系数据表</h4>
        <p><img alt="xx" src="{{ url_for('static', filename='relationship.png') }}" /></p>
        <h4>系统具备的功能模块</h4>
        <ol>
        <li><strong>信息查询</strong>功能模块：查询顾客、经办人、药品信息（支持按编号或名称查询，或者使用 <code>#all</code> 查询全部）</li>
        <li><strong>信息录入</strong>功能模块：录入顾客、经办人、药品信息</li>
        <li><strong>信息删除</strong>功能模块：删除顾客、经办人、药品信息（存在主外键限制）</li>
        <li><strong>信息修改</strong>功能模块：修改顾客、经办人、药品信息</li>
        <li><strong>信息浏览</strong>功能模块：浏览顾客、经办人、药品信息</li>
        <li><strong>数据报表</strong>功能模块：查看顾客、经办人、药品报表信息（使用图形表示）</li>
        <li><strong>用户管理与用户登陆</strong>功能模块</li>
        </ol>
    </article>
{{ super() }}
{% endblock %}