{% extends "base.html" %}

{% block content %}
<div class="queryTable">
    <h1>顾客信息查询</h1><br>
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only" for="cQuery"></label>
            <input type="text" class="form-control" id="cQuery" name="cQuery">
        </div>
        <select class="form-control" name="queryBy">
          <option>搜编号</option>
          <option>搜姓名</option>
        </select>
        <button type="submit" class="btn btn-primary">查询</button>
    </form>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>电话</th>
                <th>经办人编号</th>
                <th>药品编号</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for form in forms %}
            <tr>
                <td>{{ form.cno }}</td>
                <td>{{ form.cname }}</td>
                <td>{{ form.csex }}</td>
                <td>{{ form.cage }}</td>
                <td>{{ form.cphone }}</td>
                <td><a href="{{ url_for('query_agency', queryBy='搜编号', aQuery=form.ano) }}">{{ form.ano }}</a></td>
                <td><a href="{{ url_for('query_medicine', queryBy='搜编号', mQuery=form.mno) }}">{{ form.mno }}</a></td>
                <td>{{ form.cremark }}</td>
                <td>
                    <a href="{{ url_for('edit_client', id=form.cno) }}"><span class="label label-primary">编辑</span> </a>
                    <a href="#"><span class="label label-primary">删除</span> </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}